<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block ttl %}
        <title>master file</title>
    {% endblock %}
</head>
<body>
<h1>Ravenna Bookshop</h1>
<a href="{% url 'about-url' %}"><button>About</button></a>
<a href="{% url 'gallery-url' %}"><button>gallery</button></a>
<a href="{% url 'index-url' %}"><button>Index</button></a>
<a href="{% url 'login-url' %}"><button>LogIn</button></a>
<a href="{% url 'register-url' %}"><button>Register</button></a>
<hr>
{% block content %}

{% endblock %}
</body>
</html>